<?xml version="1.0" encoding="UTF-8"?>
<!-- Bean头部 -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置注解扫描 -->
    <context:annotation-config/>
    <!-- 自动扫描的包名 -->
    <context:component-scan base-package="com.github.edagarli.eventbus"/>
    <!-- 消息总线 -->
    <bean id="eventBus" class="com.github.edagarli.eventbus.EventBus"/>

</beans>